<!Doctype html>
    <title>
        <head>
            <h1>User Registration</h1>
        </head>
    </title>
    <body>
        <h2>User Registration</h2>
        <form>
            Username:<br>
            <input type = "text" name = "firstname"><br>
            Password:<br>
            <input type = "password" name = "firstname"><br>
    
            Name:<br>
            <input type = "text" name = "firstname"><br>
           
            Gender:<br>
            <input type = "radio" name = "gender" value = "male">Male<br>
            <input type = "radio" name = "gender" value = "male">Female<br>
            <br>

            Email:<br>
            <input type = "email" name = "firstname"><br>
            
            Date of Birth:<br>
            <input type = "date" name = "date"><br>
            <h3>Contact Details</h3>
            
            Phone:<br>
            <input type = "text" name = "firstname"><br>

           

            <br>
            <input type = "submit" value="Register">
        </form>
    </body>
</html>