body{
    margin:0px;
}

.input{
    width :770px;
    height: 80px;
    overflow-y: scroll;
}


.comment{

    display:inline-block;
    position: relative;
    left : 10%;
    border: 1mm black solid;
    width: 780px;
    height: 100px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .title{
    border-bottom: 2mm black solid;

  }

  .bookimg{

    float:left;
    height: 250px;
    width: 230px;
    border-top: 1mm black solid;
    border-left: 1mm blue solid;
    border-bottom: 1mm green solid;
    border-right: 1mm yellow solid;
}
.bookreview{
    margin-left:10%;
    float:left;
    height: 500px;
    width :380px;
    border-top: 1mm black solid;
    border-left: 1mm blue solid;
    border-bottom: 1mm green solid;
    border-right: 1mm yellow solid;
}

.display{
    margin-left:10%;
    width:80%;
    height:100%;
}

/* #searchForm{
  background-image: url(library.jpg);
} */
/* csss */
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }