<!doctype html>
<html>
    <head>
        <meta charset = 'utf-8'>
        <title>Search result: book info</title>
        <link rel='stylesheet' href='./css/style.css'>
    </head>
    <body>
        <div class='bookinfo'>

            <div class = 'bookname'>
                <h1>The book name over here.</h1>
            </div>


            <div class = 'bookimg'>
                <h1>here add an image</h1>
                <!-- here add book img  in the div if possablee -->
            </div>


            <div class='bookinformation'>
                <h1>add more feature</h1>
                <!-- add button(like), book rating, -->
            </div>

            <a href= "Add Review">Add Review</a>
            <br>
            <br>
            <a href= "Add Rating">Add Rating</a>

        </div>
    </body>
</html>