
<div class='bookinfo'>
 <h1>Book Info</h1>
    <div class = 'bookname'>
       
    </div>


    <div class = 'bookimg'>
        <p>here add an image</p>
        <!-- here add book img  in the div if possablee -->
    </div>


    <div class='bookinformation'>
        <p>add more feature</p>
        <!-- add button(like), book rating, -->
    </div>

   <div class = 'comment'>
        <div class = 'comment_dashboard'>
            <form>
                <textarea class='input' placeholder='Comment'></textarea>
            </form>
            <button class = 'submit' type = 'button'>submit</button>
        </div>
    </div> 

</div>

