<article>
    <ul>
        <li><a class="active" href="./search">Home</a></li>
        <li><a href="./profile">Profile</a></li>
        <li><a href="./logout">Logout</a></li>
    </ul>


    <div class='display'>
        <p>
            {{error_msg}}
        </p>
        <p>
            {{success_msg}}
        </p>
        <h2 class='title'>Change Password</h2>

        <form id = 'change-password-form' action= '/changepassword' method = 'POST'>
        <br>
        <label for = 'username'>Username </label><br>
        <input type="text" id = 'username' placeholder = 'enter your username' name = 'username' required><br>
        <br>
        <br>
        <!-- {{!- here put the attribute you want to check for changing password-}} -->
        <label for = 'password'>Password </label><br>
        <input type="password" id = 'password' placeholder = 'enter your password' name = 'password' required><br>
        <br>
        <br>

        <input type="password" id = 'newpassword' placeholder = 'enter new password' name = 'newpassword' required><br>
        <br>
        <br>

        <button type="submit" value = 'submit'>Save Changes</button>
        </form>
    </div>
</article>