<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>
            <h1>
                Logout
            </h1>
        </title>
    </head>
    <body>
        <article>
            <div class="display">
                <h2>Logged out successfully!</h2>
                <a href = '/login'> Back to the Login Page</a>
            </div>
        </article>
    </body>
</html>
 
