<body>
    <h1>Logged out successfully!!!!!!!!!</h1>
    <main>
        <a href = '/login'> Back to the Login Page</a>
    </main>
</body> --}}

<!doctype html>
<html>
    <head>
        <title>Logout Success!</title>
        <link rel='stylesheet' href='./css/style.css'>
    </head>
    <body>
        <h2> You have benn log out successfully!!</h2>
    </body>