<head>
    <title>
        Profile
    </title>
</head>
<body>
    <h1>Profile</h1>
    <main>
        <div class = 'user-information'>
            
        <label for = 'name'>Name: </label>
        {{name}}<br>

        <button><a href = '/views/pages/changepassword.handlebars'></a>Change Password</button>
    </main>
</body>