<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Registration</title>
    <link rel="stylesheet" href="/public/css/site.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
<h2>User Registration</h2>
<form action="/register" id="RegistrationForm" method="POST">
    <div class="form-group">
    <label for="inputUsername">Username:</label><br>
    <input type = "text" id="inputUsername" name = "username" placeholder="Enter User Name" class="form-control"><br>
    </div>

    <div class="form-group">
    <label for="inputPassword">Password:</label><br>
    <input type = "password" id="inputPassword" name = "password" placeholder="Enter Password" class="form-control"><br>
    </div>

    
    <label for="InputName">
    Name:</label><br>
    <input type = "text" id="InputName" name = "fullname" placeholder="Enter Full Name"><br>
    <label for="inputGender">
    Gender:</label><br>
    <input type = "radio" id="inputGender" name = "gender" value = "male">Male<br>
    <input type = "radio" id="inputGender2" name = "gender" value = "female">Female<br>
    <input type = "radio" id="inputGender3" name = "gender" value = "male">Other<br>
    <br>
    <label for="inputEmail">
    Email:</label><br>
    <input type = "email" id="inputEmail" name = "email" placeholder="Enter Email"><br>
    <label for="inputDOB">
    Date of Birth:</label><br>
    <input type = "date" id="inputDOB" name = "date"><br>
    <label for="inputPhone">
    Phone:</label><br>
    <input type = "number" id="inputPhone" name = "phone" placeholder="Enter Phone number"><br>
    <br>
    <input type = "submit" class="btn btn-primary" value="Register">
    </div>

    <a href = "/login" >Existing User?</a>
    <br>
</form>
</body>
</html>
